html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(233, 184, 192);
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.container--homepage,
.container--vystavy,
.container--contact,
.container--kurzy {
  max-width: 320px;
  width: 100%;
  margin: 30px auto;
  background-color: #fcfcfc;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  border-radius: 15px;
  /* height: 1000px; */
  min-height: 100vh;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  margin-top: 10%;
  padding: 0 1rem 1rem 1rem;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  padding: 3rem;
  text-align: justify;
}

.about-generally {
  padding-top: 0;
}

.components {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.components a {
  padding-top: 1.8rem;
  margin-top: 5rem;
  border-radius: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 28px;
  width: 220px;
  height: 100px;
  background-color: #fcfcfc;
  text-align: center;
}
.vystavy,
.kurzy,
.prostor {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  border-radius: 15px;
}

.pozadi {
  height: 250px;
  background-image: url(./img/Jackson01.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ------------------Navigace----------------- */

.navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.navigation-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigation-name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.nav {
  width: 5rem;
  padding: 1rem;
  text-align: center;
}
.navigation-button {
  background-image: url('img/Navigace/iconmonstr-menu-thin.png');
  background-color: transparent;
  background-size: contain;
  border: none;
  width: 2rem;
  height: 2rem;
  margin-top: 10px;
}

.navigation-closed {
  display: none;
}

/* -------------------Výstavy---------------- */

.exhibition-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.exhibiton-card {
  max-width: 280px;
  margin-bottom: 20px;
  border: 1px solid rgb(209, 206, 206);
}

.exhibition-card__author {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
}

.exhibition-card__title,
.exhibition-card__date,
.exhibition-card__place {
  margin: 5px;
}

.exhibition-card__author:hover,
.exhibition-card__author:focus {
  color: rgb(186, 43, 67);
}

.exhibition-card__title {
  padding: 0;
}

.exhibition-card__date {
  padding: 0;
}

.exhibition-card__place {
  padding: 0;
}

/* -----------------------O nás------------------- */

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.about-card {
  /* width: 100%; */
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(223, 115, 115);
  margin-bottom: 15px;
  padding: 20px;
}

.about-card__photo {
  border-radius: 50%;
  padding: 20px;
}

.about-card__info {
  padding: 24px;
}

/* -------------------------------------------------- */

@media (max-width: 849px) {
  .pozadi {
    height: 600px;
  }
}
@media (min-width: 850px) {
  .container--vystavy,
  .container--homepage,
  .container--contact {
    max-width: 750px;
  }

  .about-container {
    /* flex-wrap: nowrap; */
    justify-content: space-around;
  }

  .exhibition-container {
    justify-content: space-around;
  }

  .about-card {
    width: 300px;
  }

  .components {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
