html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(233, 184, 192);
  min-height: 100vh;
  margin: 0;
}

.container--vystavy,
.container--kurzy {
  max-width: 320px;
  width: 100%;
  margin: 30px auto;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: #fcfcfc;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  border-radius: 15px;
  height: 550px;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  margin-top: 10%;
}

.components {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.vystavy,
.kurzy,
.prostor {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 30px;
  width: 250px;
  height: 250px;
  background-color: #fcfcfc;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  border-radius: 15px;
  margin-bottom: 5%;
}

@media screen and (min-width: 850px) {
  h1 {
    font-size: 50px;
  }
  .components {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
